*{
	padding: 0;
	margin: 0;
	text-decoration: none;
}
u{
		text-decoration: underline;


}
body{
	font-family: "Arial","Tanoma","Helvetica Verdana";
	background: #c2c2c2;

}
section#container{
	background: #e2e2e2;
	width :980px;
	overflow: hidden;
	margin: auto;

}
section#topbar{
	height: 30px;
	background-color: black;
	display: flex;
	text-align: center;
	
}
#topbar h3{
	width: 100%;
	line-height: 1.5;
	color:#e3e3e3;
	
}
div#adminBtn{
width: 50px;
height: 21px;
background-color: #4B7278;
color: #FF0A0A;
margin-right: 30px;
margin-top: 2.5px;
border-radius: 5px;
border: 1px solid #B69393;
cursor: pointer;
	
}
div#adminBtn:hover{
	background-color: white;
	color: black;
	border :1px solid red;
	
}
header{

	height: 110px;	
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom:1px solid white;
	font-family: "Time New Roaman",Georgia, Palatino;

	
	}
figure#logo img{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 20px;
	float: left;
}